html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background-image: linear-gradient(lightblue, #eeeeee);
    background-repeat: no-repeat;
    
}

/* div {
    border: 1px solid red;
} */

.top {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* .burger-lists {
  
    margin-left: auto;
    margin-right: auto;
  
} */

.ready-burgers, .devoured-burgers {
    /* float: left; */
    width: 50%;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
   
    
}

.form-group, .burger-add {
    text-align: center;
}

.button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}